@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2867b2;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2867b2;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background:var(--background) ;
  font-family: Arial, Helvetica, sans-serif;
  font-display: swap
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
